<!--
  Generated template for the VerProgramadasPasajeroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar class="navbar_personalizado" color="yellow">
        <ion-title>
            Ver Rutas
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
          <span ion-text color="white" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding class="imagen">
    <ion-item>
        <ion-label>Filtrar</ion-label>
        <ion-select [(ngModel)]="filtro" (ionChange)="mostrar()">
            <ion-option>Nombre</ion-option>
            <ion-option>Fecha</ion-option>
            <ion-option>Sin filtro</ion-option>
        </ion-select>
    </ion-item>
    <ion-searchbar *ngIf="filtro==='Nombre'" type="text" placeholder="Nombre Conductor..." [(ngModel)]="nombre" (ionInput)="filtrarpornombre()"></ion-searchbar>
    <ion-item *ngIf="filtro==='Fecha'">
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fecha" (ionChange)="filtrarporfecha()"></ion-datetime>
    </ion-item>
    <ion-list>
        <button class="lista_personalizado" ion-item *ngFor="let rutas of viajes" (click)="irReservarProgramada(rutas)">
      <p>Nombre de la Ruta: {{rutas.ruta}}</p>
      <p>Nombre Conductor: {{rutas.nombre+' '+rutas.apellido}}</p>
      <p>Capacidad: {{rutas.capacidad}}</p>
       <p>Fecha: {{rutas.fecha}}</p>
    <!--  <p>Calificacion: {{rutas.calificacion}} <ion-icon name="star"></ion-icon></p>-->
    </button>
        <ion-item style="background-color:#7cb9e3;color:white;" *ngIf="viajes.length===0">
            No hay viajes.
        </ion-item>
        <ion-fab bottom left>
            <button ion-fab color="yellow" (click)="func()"><ion-icon name="refresh"></ion-icon></button>
        </ion-fab>
    </ion-list>
</ion-content>