<!--
  Generated template for the EditarPasajeroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar class="navbar_personalizado" color="yellow">
        <ion-title>Editar</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()"><span color="dark" showWhen="ios">Close</span><ion-icon name="md-close" showWhen="android, windows"></ion-icon></button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content padding class="imagen">
    <form [formGroup]="myForm">
        <ion-list>
            <ion-item class="campo_personalizado" class="campo_personalizado" style="margin-top:1em">
                <ion-label stacked color="dark">Contraseña antigua</ion-label>
                <ion-input type={{verpass1}} formControlName="passwordd"></ion-input>
                <button ion-button item-right clear class="boton_personalizado" round color="yellow" (click)="verpass()">
                    {{verpass1_mostrar_ocultar}}
              </button>
            </ion-item>
            <ion-item class='opacity' *ngIf="myForm.get('passwordd').errors && myForm.get('passwordd').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('passwordd').hasError('required')">*Campo requerido</p>
            </ion-item>

            <ion-item class='opacity' *ngIf="myForm.hasError('compararPassword') ">
                <p color="danger" ion-text>*La contraseña no es igual a la antigua</p>
            </ion-item>

            <ion-item class="campo_personalizado" style="margin-top:0.5em">
                <ion-label stacked color="dark">Contraseña nueva</ion-label>
                <ion-input type={{verpass2}} formControlName="pass1"></ion-input>
                <button ion-button item-right clear class="boton_personalizado" round color="yellow" (click)="verpass22()">
                    {{verpass2_mostrar_ocultar}}
            </button>
            </ion-item>
            <ion-item class='opacity' *ngIf="myForm.get('pass1').errors && myForm.get('pass1').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('pass1').hasError('required')">*Campo requerido</p>
                <p color="danger" ion-text *ngIf="myForm.get('pass1').hasError('pattern')">*La contraseña es debil</p>
            </ion-item>
            <p color="yellow" ion-text>La contraseña debe poseer más 6 caracteres, se pueden usar SOLAMENTE mayúsculas, minúsculas y números.</p>

        </ion-list>
        <ion-item>
            <button class="boton_personalizado" ion-button block round color="yellow" [disabled]="!myForm.valid" (click)="editarPassword()">Cambiar contraseña</button>
        </ion-item>
    </form>

</ion-content>