<!--
  Generated template for the TerminosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="navbar_personalizado" color="yellow1">
        <ion-title>Términos y Condiciones</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="campo_personalizado1">
        <h6>
            <p align="center">TÉRMINOS Y CONDICIONES DE USO</p>
        </h6>
        <p align="justify">Gracias por utilizar la aplicación AVENTÓN Al hacer uso de nuestro Servicio usted está aceptando estas condiciones. Por favor, léalas detenidamente. Nuestro Servicio es muy diverso, de modo que en ocasiones podrían ser aplicables condiciones y/o
            requisitos adicionales. En tales casos, las condiciones adicionales estarán disponibles en el servicio correspondiente.</p>

        <p align="center">
            <b>CONDICIONES DE USO DE LA APP:</b>
        </p>
        <ul>
            <li>
                <p align="justify">No utilice nuestro Servicio de forma indebida.</p>
            </li>
            <li>
                <p align="justify">El uso de nuestro Servicio otorga derecho de propiedad pública.</p>
            </li>
            <li>
                <p align="justify">En relación al uso del Servicio, podremos enviarle anuncios del servicio, mensajes administrativos, vencimiento de plazos y otra información de su interés.</p>
            </li>
            <li>
                <p align="justify">Nuestro Servicio está disponible en dispositivos móviles. Utilice responsablemente dichos servicios, de modo que NO le distraigan o impidan cumplir con las leyes de tránsito o afecten su seguridad.</p>
            </li>
        </ul>
        <p align="center">
            <b>CONDICIONES DE USO PARA EL USO DEL SERVICIO DE ESTACIONAMIENTOS PÚBLICOS TARIFADOS EN CALZADA PROGRAMA DE AUTO COMPARTIDO UNIVERSIDAD CATÓLICA BOLIVIANA - APLICACIÓN “AVENTÓN”:</b>
        </p>
        <p align="justify"><b>1. HORARIOS DE SERVICIO:</b><br> De lunes a viernes de 7:00 a 20:00 horas y sábados de 7:00 a 12:00 horas. NOTA: En caso que el usuario exceda el tiempo inicialmente cancelado podrá pagar el monto excedente, siempre y cuando retorne antes de
            las 19:50 horas de lunes a viernes y antes de las 11:50 horas los días sábados, caso contrario será sancionado.<br><br> <b>2. REGISTRO DEL VEHÍCULO:</b> Contactarse con el operador de cobranza, quien verificará el registro en la aplicación
            AVENTÓN, entregará la boleta de control que especifica los horarios de inicio y fin del SEPTC y la FACTURA con el nombre y el NIT declarados.<br><br> <b>3. NÚMERO DE PASAJEROS:</b> Mínimo tres (3) incluido el conductor.<br><br> <b>4. TARIFA DEL SEPTC:</b>            1 hora Bs 2. ½ hora Bs 1. Tiempo mínimo de permanencia ½ hora.<br><br> <b>5. OPCIONES DE PAGO:</b> Prepago y/o post pago, en efectivo.<br>
        </p>
    </div>

    <!-- <button class="boton_personalizado" color=yellow ion-button block (click)="entendido()" round>ENTENDIDO</button> -->
</ion-content>