<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
        <div class="Aligner-item Aligner-item--top"></div>
        <!--Imagen si centrear, solucionado-->
        <img src="../assets/logo.png">
        <!--<img src="../assets/logo.svg">-->
        <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
</div>
<!--
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Auto Compartido</ion-title>
  </ion-navbar>

</ion-header>
-->
<ion-content padding class="imagen">
    <p align="center">
        <br>
        <img src="../assets/logo.png">
    </p>
    <ion-list style="margin-top:2em;">

        <ion-item class="campo_personalizado">
            <ion-label stacked color="blue">Carnet</ion-label>
            <ion-input type="number" [(ngModel)]="user.carnet"></ion-input>
        </ion-item>
        <ion-item class="campo_personalizado" style="margin-top:1em">
            <ion-label stacked color="blue">Password</ion-label>
            <ion-input class="redondeado" type={{verpass1}} [(ngModel)]="user.password"></ion-input>

            <button ion-button item-right clear round class="boton_personalizado3" color="yellow" (click)="verpass()">
                {{verpass1_mostrar_ocultar}}
            </button>
        </ion-item>
    </ion-list>

    <div>
        <button class="boton_personalizado" color="yellow" ion-button block round (click)="ingresar(user)">INGRESAR</button>
    </div>
    <div style="margin-top:1em">
        <button class="boton_personalizado" color="yellow" ion-button block round (click)="irRegistro()">REGISTRARME</button>
    </div>
    <div>
        <img src="../assets/logoucb.png">
    </div>
</ion-content>
<!--<ion-content>
    <ion-fab right bottom>
        <button ion-fab (click)="slidePrincipal3()"><ion-icon ></ion-icon>Ayuda</button>

    </ion-fab>
</ion-content>-->
<!--CORREGIR LA PARTE DE ARRIBA-->