<!--
  Generated template for the ElegirPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <!--
    <ion-navbar class="navbar_personalizado" color="yellow" hideBackButton>
        <ion-title>TIPO DE USUARIO</ion-title>
    </ion-navbar>
-->
</ion-header>


<ion-content padding class="imagen" style="margin-top:0px;">
    <p align="center">
        <br>
        <img src="../assets/logo.png">
    </p>

    <div padding style="margin-top:45px;">
        <div padding>
            <button class="boton_personalizado" ion-button color="yellow" icon-start block round (click)="irPasajero()">
        <ion-icon name="body"></ion-icon>
        PASAJERO
      </button>
        </div>

        <div padding>
            <button class="boton_personalizado" ion-button color="yellow" icon-start block round (click)="irConductor()">
        <ion-icon name="car"></ion-icon>
        CONDUCTOR
      </button>
        </div>
    </div>
    <ion-fab right bottom>
        <button color="yellow" ion-fab (click)="slidePrincipal3()"><ion-icon ></ion-icon>Ayuda</button>

    </ion-fab>
    <div class="campo_personalizado1" style="height:20%" >
            <ion-scroll scrollY="true" round style="height:100%">
        <p align="center">
            <b>1. HORARIOS DE SERVICIO:</b>
        </p>
        <p align="justify"> De lunes a viernes de 7:00 a 20:00 horas y sábados de 7:00 a 12:00 horas. <br></p>
        <p align="justify">NOTA: En caso que el(la) usuario(a) exceda el tiempo inicialmente cancelado, éste(a) podrá pagar el monto excedente, siempre y cuando retorne antes de las 19:50 horas de lunes a viernes y antes de las 11:50 horas los días sábados, caso
            contrario será sancionado.
        </p>
        <p align="center">
                <b>2. REGISTRO DEL VEHÍCULO:</b>
            </p>
            <p align="justify">Contactarse con el operador de cobranza, quien verificará el registro en la aplicación AVENTON, entregará la boleta de control que especifica los horarios de inicio y fin del SEPTC y la FACTURA con el nombre y el NIT declarados.
            </p>
            <p align="center">
                    <b>3. NÚMERO DE PASAJEROS:</b>
                </p>
                <p align="justify">Mínimo tres (3) incluido el conductor.
                </p>
                <p align="center">
                        <b>4. TARIFA DEL SEPTC:</b>
                    </p>
                    <p align="justify">1 hora Bs 2.</p>
                            <p align="justify"> ½ hora Bs 1.</p>
                                    <p align="justify"> Tiempo mínimo de permanencia ½ hora.
                    </p>
                    <p align="center">
                            <b>5. OPCIONES DE PAGO:</b>
                        </p>
                        <p align="justify">Prepago y/o post pago, en efectivo.
                        </p>
                    </ion-scroll>
    </div>
    <div padding>
        <button ion-button color="yellow" icon-start block round (click)="cerrarSesion()"><ion-icon name="log-out"></ion-icon>CERRAR SESION</button>
    </div>
</ion-content>