<!--
<ion-header>

    <ion-toolbar class="navbar_personalizado" color="yellow">
        <ion-title>Pasajeros de la ruta</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()"><span color="dark" showWhen="ios">Close</span><ion-icon name="md-close" showWhen="android, windows"></ion-icon></button>
        </ion-buttons>
    </ion-toolbar>
  
  </ion-header>-->
  <ion-header>

      <ion-navbar color="yellow">
          <ion-title>Pasajeros de la ruta</ion-title>
      </ion-navbar>
  
  </ion-header>


<ion-content padding class="imagen">
    <ion-item class="borde" style="background-color:#7cb9e3;color:white;" *ngIf="auxi==[] || auxi==null || auxi[message]=='ERROR'">
        Usted no tiene pasajeros.
    </ion-item>

    <ion-list #pc *ngFor="let vecs of auxi">
           <div>
                    <img [src]="vecs.foto" class="foto_personalizado" />
                </div>
        <!--
            AQUI VIENE LA FOTO DEL USUARIO, EL CARNET ESTA EN "this.reserva.id_para"
        -->
            <ion-item>
                    <ion-label stacked>Fecha del Viaje</ion-label>
                    <ion-input disabled="true" type="text" [(ngModel)]="vecs.fecha_hora"></ion-input>
                </ion-item>
        <ion-item>
            <ion-label stacked>Conductor</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="vecs.nombre+' '+vecs.apellido"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked color="dark">Teléfono</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="vecs.telf"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>