<ion-header>
    <ion-toolbar class="navbar_personalizado" color="yellow">
        <ion-title>
            PERFIL
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="imagen">
    
    <div>
        <img [src]="base64Image" class="foto_personalizado" *ngIf="fotoUsuario"/>
    </div>

    <ion-item color="yellow" class="item item-divider" style="margin-top:1em">Datos Personales</ion-item>

    <ion-list #pc>
        <ion-item>
            <ion-label stacked>Nombre</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="usuario.nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Apellido</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="usuario.apellido"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Carnet</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="usuario.ci"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked color="dark">Telefono</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="usuario.telf"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked color="dark">Fecha de nacimiento</ion-label>
            <ion-datetime disabled="true" displayFormat="DD/MM/YYYY" [(ngModel)]="usuario.fecha_nac"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label stacked color="dark">Calificacion Pasajero</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="usuario.calif_pasa"></ion-input>
        </ion-item>

        <button class="boton_editar_personalizado" ion-button round block color="yellow" (click)="editPerfil()">Editar Datos de Perfil</button>
        <button class="boton_editar_personalizado" ion-button round block color=primary (click)="editPassword()">Cambiar Contraseña</button>
        
    </ion-list>



</ion-content>