<!--
  Generated template for the ConfirmarEliminacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="navbar_personalizado">
        <ion-title>VER RUTA</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="imagen">
        <div id="mapita"></div>
        <div>
            <button class="boton_personalizado" ion-button block color="secondary" (click)="si()">
    Eliminar Ruta
  </button></div>
        <div>
            <button class="boton_personalizado" ion-button block color="danger" (click)="no()">Regresar
    </button></div>
    </ion-content>