<!--
  Generated template for the BuzonPasajeroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="navbar_personalizado" color="yellow">
        <ion-title>BUZÓN</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="imagen">
    <ion-item style="background-color:#7cb9e3;color:white;" *ngIf="boleano">
        Usted no tiene Mensajes.
    </ion-item>
    <ion-list *ngFor="let item of solicitudes">
        <ion-item class="rechazado" *ngIf="item.estado=='Borrada'">
            De: {{item.nombre+" "+item.apellido}}
            <br> Fecha: {{item.fecha}}
            <br> Mensaje: {{item.mensaje}}
            <br> Enviado el: {{item.fechasort}}
        </ion-item>
        <ion-item class="aceptado" *ngIf="item.estado=='Activada'" (click)="activada(item)">
            De: {{item.nombre+" "+item.apellido}}
            <br> Fecha: {{item.fecha}}
            <br> Mensaje: {{item.mensaje}}
            <br> Enviado el: {{item.fechasort}}
        </ion-item>
        <ion-item class="calificar" *ngIf="item.estado=='No Calificado P'" (click)="calif(item)">
            De: {{item.nombre+" "+item.apellido}}
            <br> Viaje del dia: {{item.fecha}}
            <br><b> Estado: {{item.estado}}</b>
            <br> Mensaje: {{item.mensaje}}
        </ion-item>
        <ion-item class="calificado" *ngIf="item.estado=='Calificado P'">
            De: {{item.nombre+" "+item.apellido}}
            <br> Viaje del dia: {{item.fecha}}
            <br><b> Estado: {{item.estado}}</b>
            <br> Mensaje: {{item.mensaje}}
        </ion-item>

        <ion-item class="rechazado" *ngIf="item.estado=='No Aceptado'">
            A: {{item.nombre+" "+item.apellido}}
            <br><b> Estado: {{item.estado}}</b>
            <br> Fecha: {{item.fecha}}
            <br> Enviado el: {{item.fechasort}}
        </ion-item>
        <ion-item class="aceptado" *ngIf="item.estado=='Aceptado'">
            A: {{item.nombre+" "+item.apellido}}
            <br> <b>Estado: {{item.estado}}</b>
            <br> Fecha: {{item.fecha}}
            <br> Enviado el: {{item.fechasort}}
        </ion-item>
        <ion-item class="pendiente" *ngIf="item.estado=='Pendiente'">
            A: {{item.nombre+" "+item.apellido}}
            <br><b>Estado: {{item.estado}}</b>
            <br>Fecha de Viaje: {{item.fecha}}
            <br> Enviado el: {{item.fechasort}}
        </ion-item>
        <ion-item class="border" style="background-color:#7cb9e3;color:white;" *ngIf="solicitudes.length===0">
            Usted no tiene solicitudes.
        </ion-item>
    </ion-list>
    <ion-fab bottom right>
        <button ion-fab color="yellow" (click)="listarMensajes()"><ion-icon name="refresh"></ion-icon></button>
    </ion-fab>
    <!-- <ion-fab bottom left>
        <button ion-fab color="red" (click)="borrarMensajes()"><ion-icon name="trash"></ion-icon></button>
    </ion-fab> -->
</ion-content>