<ion-header>

  <ion-toolbar class="navbar_personalizado" color="yellow">
      <ion-title>Reportar un Problema</ion-title>
      <ion-buttons start>
          <button ion-button (click)="dismiss()"><span color="dark" showWhen="ios">Close</span><ion-icon name="md-close" showWhen="android, windows"></ion-icon></button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding class="imagen">
    <ion-label>Reporte el Problema:</ion-label>
    <ion-item>
    <ion-textarea type="text" [(ngModel)]="problema" rows="6" cols="20" placeholder="Describa el problema..."></ion-textarea>
  </ion-item> <br>
  <button class="boton_personalizado" ion-button color="yellow" round block (click)="aceptar()">
ACEPTAR
</button>
</ion-content>
