<!--
  Generated template for the BuzonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="navbar_personalizado" color="yellow">
        <ion-title>BUZÓN</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="imagen">
    <ion-item style="background-color:#7cb9e3;color:white;" *ngIf="boleano">
        Usted no tiene Mensajes.
    </ion-item>
    <ion-list *ngFor="let item of solicitudes">
        <ion-item class="calificar" *ngIf="item.estado=='No Calificado C'" (click)="calif(item)">
            De: {{item.nombre+" "+item.apellido}}
            <br> Viaje del dia: {{item.fecha}}
            <br> <b> Estado: No Calificado </b>
            <br> Mensaje: {{item.mensaje}}
        </ion-item>

        <ion-item class="calificado" *ngIf="item.estado=='Calificado C'">
            De: {{item.nombre+" "+item.apellido}}
            <br> Viaje del dia: {{item.fecha}}
            <br> <b>Estado: Calificado </b>
            <br> Mensaje: {{item.mensaje}}
        </ion-item>





        <ion-item class="rechazado" *ngIf="item.estado=='Rechazado'">
            De:{{item.nombre+" "+item.apellido}}
            <br> <b>Estado: {{item.estado}} </b>
            <br> Calificacion {{item.calif_pasa}}
            <br> Enviado el: {{item.fecha}}
        </ion-item>
        <!--<ion-item class="border" *ngIf="item.estado=='aceptado'" style="background-color:green;color:white;" (click)="aceptar(item)">-->
        <ion-item class="aceptado" *ngIf="item.estado=='Aceptado'">
            De:{{item.nombre+" "+item.apellido}}
            <br> <b>Estado: {{item.estado}} </b>
            <br> Calificacion {{item.calif_pasa}}
            <br> Enviado el: {{item.fecha}}
        </ion-item>
        <ion-item class="pendiente" *ngIf="item.estado=='Pendiente'" (click)="aceptar(item)">
            De:{{item.nombre+" "+item.apellido}}
            <br> <b>Estado: {{item.estado}} </b>
            <br> Calificacion {{item.calif_pasa}}
            <br> Enviado el: {{item.fecha}}
        </ion-item>


        <ion-item class="border" style="background-color:#7cb9e3;color:white;" *ngIf="value">
            Usted no tiene solicitudes.
        </ion-item>
        <ion-item class="border" style="background-color:#7cb9e3;color:white;" *ngIf="item.estado=='Activada'">
            Usted no tiene solicitudes.
        </ion-item>
    </ion-list>

    <ion-fab bottom right>
        <button ion-fab color="yellow" (click)="listarMensajes()"><ion-icon name="refresh"></ion-icon></button>
    </ion-fab>
    <!-- <ion-fab bottom left>
        <button ion-fab color="red" (click)="borrarMensajes()"><ion-icon name="trash"></ion-icon></button>
    </ion-fab> -->
</ion-content>