<ion-header>
    <ion-toolbar class="navbar_personalizado" color="yellow">
        <ion-title>
            PERFIL
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item class="item item-divider">
        <ion-buttons end>
            <button ion-button round (click)="verVehiculo()">
                <ion-icon item-left name="eye">Ver Vehículos</ion-icon>
              </button>
        </ion-buttons>
    </ion-item>
    <div>
        <img [src]="fotoAuto" class="foto_personalizado" />
    </div>
    <ion-item color="yellow" class="item item-divider" style="margin-top:1em">Datos Personales</ion-item>
    <ion-list #pc>
        <ion-item>
            <ion-label stacked>Nombre</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="usuario.nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Apellido</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="usuario.apellido"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Carnet</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="usuario.ci"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked color="dark">Teléfono</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="usuario.telf"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked color="dark">Fecha de nacimiento</ion-label>
            <ion-datetime disabled="true" displayFormat="DD/MM/YYYY" [(ngModel)]="usuario.fecha_nac"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label stacked color="dark">Calificación Conductor</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="usuario.calif_cond"></ion-input>
        </ion-item>

        <button class="boton_editar_personalizado" ion-button round block color=primary (click)="editPerfil()">EDITAR INFORMACIÓN</button>
        <button class="boton_editar_personalizado" ion-button round block color=primary (click)="editPassword()">Cambiar Contraseña</button>

    </ion-list>



</ion-content>