<ion-header>

    <ion-toolbar class="navbar_personalizado" color="yellow">
        <ion-title>MIS RUTAS PROGRAMADAS</ion-title>
    </ion-toolbar>

</ion-header>
<ion-content padding class="imagen">
    <ion-item>
        <ion-label>Buscar por fecha</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="fecha" placeholder="{{fecha}}" (ionChange)="filtrarporfecha()" (ionCancel)="cancelarFiltrado()"></ion-datetime>
    </ion-item>
    <ion-list>
        <ion-item class="borde" style="background-color:#7cb9e3;color:white;" *ngIf="value">
            Usted no tiene rutas.
        </ion-item>
        <ion-item-sliding #item *ngFor="let vecs of vec">

                <ion-item class="borde" *ngIf="vecs.estado=='Activa'" style="background-color:#faca32" (click)="iractiva(vecs)">
                        <ion-badge color="yellow" item-end>ACTIVA</ion-badge>
                        <p class="cambioText1">Nombre de la Ruta: {{ vecs.nombre }}</p>
                        <p class="cambioText1">Fecha: {{ vecs.fecha_hora }}</p>
                        <p class="cambioText1">Capacidad Actual: {{ vecs.capacidad }}</p>
                    </ion-item>

            <ion-item class="borde" *ngIf="verificarFecha(vecs.fecha_hora)=='falta' && vecs.estado=='programada'" style="background-color:#faca32">
                <ion-badge color="yellow" item-end>Aun Falta</ion-badge>
                <p class="cambioText1">Nombre de la Ruta: {{ vecs.nombre }}</p>
                <p class="cambioText1">Fecha: {{ vecs.fecha_hora }}</p>
                <p class="cambioText1">Capacidad Actual: {{ vecs.capacidad }}</p>
            </ion-item>
            <ion-item class="borde" *ngIf="verificarFecha(vecs.fecha_hora)=='pasado' && vecs.estado=='programada'" style="background-color:rgb(172, 171, 170)">
                <ion-badge color="light" item-end>Ya Paso</ion-badge>
                <p class="cambioText">Nombre de la Ruta: {{ vecs.nombre }}</p>
                <p class="cambioText">Fecha: {{ vecs.fecha_hora }}</p>
                <p class="cambioText">Capacidad Actual: {{ vecs.capacidad }}</p>
            </ion-item>
            <ion-item class="borde" *ngIf="verificarFecha(vecs.fecha_hora)=='falta un dia' && vecs.estado=='programada'" style="background-color:#faca32">
                <ion-badge color="yellow" item-end>Un Dia</ion-badge>
                <p class="cambioText1">Nombre de la Ruta: {{ vecs.nombre }}</p>
                <p class="cambioText1">Fecha: {{ vecs.fecha_hora }}</p>
                <p class="cambioText1">Capacidad Actual: {{ vecs.capacidad }}</p>
            </ion-item>
            <ion-item class="borde" *ngIf="verificarFecha(vecs.fecha_hora)=='hoy' && vecs.estado=='programada'" color="primary" (click)="activarRuta(vecs)">
                <ion-badge color="light" item-end>HOY</ion-badge>
                <p class="cambioText">Nombre de la Ruta: {{ vecs.nombre }}</p>
                <p>Fecha: {{ vecs.fecha_hora }}</p>
                <p class="cambioText">Capacidad Actual: {{ vecs.capacidad }}</p>
            </ion-item>
            <ion-item-options class="border" side="right">
                <button ion-button color="danger" (click)="borrarRutaAgendada(vecs)"><ion-icon name="trash"></ion-icon>
            Borrar
          </button>
            </ion-item-options>
            <ion-item-options class="border" side="left">
                    <button ion-button color="yellow" (click)="infoRuta(vecs)"><ion-icon name="information-circle"></ion-icon>
                Info
              </button>
                </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab bottom right>
        <button ion-fab color="yellow" (click)="seleccinaRuta()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-fab bottom left>
        <button ion-fab color="yellow" (click)="listarProgramadas()"><ion-icon name="refresh"></ion-icon></button>
    </ion-fab>
</ion-content>