<!--
  Generated template for the PruebaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="yellow">
        <ion-title>Pasajero</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="imagen">
  <div >
    <img [src]="fotoUsuario" alt="Foto Usuario" class="foto_personalizado" >
  </div>
  <div class="centrado" style="font-size:30px;">
    <b><FONT COLOR="#64FE2E">IDENTIFICADO</FONT></b>
  </div>
  <div class="centrado" style="font-size:30px;">
      <b>{{nombre}}</b>
    </div>
  <div class="centrado">
      <b><FONT>Gorra o Sombrero: {{gorra}}</FONT></b>
    </div>
    <div class="centrado">
        <b><FONT>Prenda Superior: {{superior}}</FONT></b>
      </div>
      <div class="centrado">
          <b><FONT>Prenda Inferior: {{inferior}}</FONT></b>
        </div>
        <div class="centrado">
    <b><FONT>Accesorio: {{accesorio}}</FONT></b>
  </div>
  <div>
    <button ion-button block round (click)="aceptar()" >Aceptar</button>
  </div>
</ion-content>
