<!--
  Generated template for the OpcionReservaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="yellow">
        <ion-title>Cancelar Reserva</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="imagen">


    <ion-list #pc>
            <div>
                    <img [src]="fotoAuto" class="foto_personalizado" />
                </div>
        <!--
            AQUI VIENE LA FOTO DEL USUARIO, EL CARNET ESTA EN "this.reserva.id_para"
        -->
            <ion-item>
                    <ion-label stacked>Fecha del Viaje</ion-label>
                    <ion-input disabled="true" type="text" [(ngModel)]="reserva.fecha"></ion-input>
                </ion-item>
        <ion-item>
            <ion-label stacked>Conductor</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="onj.nombre+' '+onj.apellido"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked color="dark">Teléfono</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="onj.telf"></ion-input>
        </ion-item>
    </ion-list>
    <div>
            <img [src]="fotoAuto1" class="foto_personalizado" />
        </div>
    <!--
        AQUI VIENE LA FOTO DEL AUTO LA PLACA ESTA EN this.onj.placa
    -->
    <ion-list #pc>
        <ion-item>
                <ion-label stacked color="dark">Placa del Auto</ion-label>
                <ion-input disabled="true" type="text" [(ngModel)]="onj.placa"></ion-input>
            </ion-item>
        <button ion-button round color="danger" (click)="eliminarReserva()" block>Cancelar Viaje <ion-icon name="trash" style="margin-left:20px;"></ion-icon></button>
    </ion-list>



</ion-content>