<!--
  Generated template for the VehiculoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="navbar_personalizado" color="yellow">
        <ion-title>Vehículo</ion-title>
        <ion-buttons end>
            <button ion-button (click)="irAgregar()">
        <ion-icon name="add"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding class="imagen">
    <ion-list>
        <ion-list-header class="titulo_lista_personalizado" *ngIf="value">
            <b>
            <strong>VEHÍCULOS</strong>
        </b>
        </ion-list-header>
        <br>Elija un vehiculo:
        <ion-item class="lista_personalizado" *ngFor="let auto of vehiculos$" round (click)="irEditar(auto)">
            <b>Placa: {{auto.placa}}<br>
            Marca: {{auto.marca}}<br>
            Color: {{auto.color}}<br>
            Capacidad: {{auto.capacidad}}</b>
        </ion-item>

        <!--si hay veiculos-->
        <ion-item style="background-color:#7cb9e3;color:white;" *ngIf="!value">
            Usted no tiene vehículos.
        </ion-item>
        <ion-fab right bottom>
            <button color="yellow" ion-fab (click)="slidePrincipal3()"><ion-icon ></ion-icon>Ayuda</button>

        </ion-fab>
        <ion-fab bottom left>
            <button ion-fab color="yellow" (click)="listarAutos()"><ion-icon name="refresh"></ion-icon></button>
        </ion-fab>
    </ion-list>
</ion-content>