<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="navbar_personalizado" color="yellow1">
        <ion-title>REGISTRO</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding class="imagen">
    <form [formGroup]="myForm">
        <ion-card class="foto_personalizado">
            <img [src]="base64Image" *ngIf="base64Image" />
        </ion-card>
        <div padding>
            <button color=yellow ion-button block (click)="openCamera()" round>TOMAR FOTOGRAFÍA</button>
            <button color=yellow ion-button block (click)="openGallery()" round>SELECCIONAR FOTOGRAFÍA</button>
        </div>
        <ion-list>
            <ion-item class="campo_personalizado">
                <ion-label stacked color="dark">Nombre</ion-label>
                <ion-input type="text" formControlName="nombre" name="nombre"></ion-input>
            </ion-item>
            <ion-item class="opacity" *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('nombre').hasError('required')">*Campo requerido</p>
            </ion-item>
            <ion-item class="campo_personalizado" style="margin-top:0.5em">
                <ion-label stacked color="dark">Apellido</ion-label>
                <ion-input type="text" formControlName="apellido"></ion-input>
            </ion-item>
            <ion-item class="opacity" *ngIf="myForm.get('apellido').errors && myForm.get('apellido').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('apellido').hasError('required')">*Campo requerido</p>
            </ion-item>
            <ion-item class="campo_personalizado" style="margin-top:0.5em">
                <ion-label stacked color="dark">Carnet</ion-label>
                <ion-input type="number" formControlName="carnet"></ion-input>
            </ion-item>
            <ion-item class="opacity" *ngIf="myForm.get('carnet').errors && myForm.get('carnet').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('carnet').hasError('required')">*Campo requerido</p>
            </ion-item>
            <ion-item class="campo_personalizado" style="margin-top:0.5em">
                <ion-label round stacked color="dark">Fecha de nacimiento</ion-label>
                <ion-datetime display-format="DD/MM/YYYY" picker-format="DDDD MMMM YYYY" formControlName="fecha_nac"></ion-datetime>
            </ion-item>
            <ion-item class="opacity" *ngIf="myForm.get('fecha_nac').errors && myForm.get('fecha_nac').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('fecha_nac').hasError('required')">*Campo requerido</p>
            </ion-item>
            <ion-item class="campo_personalizado" style="margin-top:0.5em">
                <ion-label stacked color="dark">Telefono</ion-label>
                <ion-input type="number" formControlName="telf"></ion-input>
            </ion-item>
            <ion-item class="opacity" *ngIf="myForm.get('telf').errors && myForm.get('telf').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('telf').hasError('required')">*Campo requerido</p>
                <p color="danger" ion-text *ngIf="myForm.errors?.maxlength">*Telefono debe tener 8 dígitos</p>
            </ion-item>

            <p align="justify" color="yellow" ion-text>La contraseña debe poseer más 6 caracteres, se pueden usar SOLAMENTE mayúsculas, minúsculas y números.</p>
            <ion-item class="campo_personalizado" style="margin-top:0.5em">
                <ion-label stacked color="dark">Contraseña</ion-label>
                <ion-input type="password" formControlName="pass1"></ion-input>
            </ion-item>
            <ion-item class="opacity" *ngIf="myForm.get('pass1').errors && myForm.get('pass1').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('pass1').hasError('required')">*Campo requerido</p>
                <p color="danger" ion-text *ngIf="myForm.get('pass1').hasError('pattern')">*La contraseña debe seguir el formato solicitado</p>
            </ion-item>
            <ion-item class="campo_personalizado" style="margin-top:0.5em">
                <ion-label stacked color="dark">Repita la contraseña</ion-label>
                <ion-input type="password" formControlName="confirm_password"></ion-input>
            </ion-item>
            <ion-item class="opacity" class='form-text error' *ngIf="myForm.hasError('mismatchedPasswords') && myForm.controls.pass1.valid">
                <p color="danger" ion-text *ngIf="myForm.get('confirm_password').hasError('required')">*Campo requerido</p>
                <p color="danger" ion-text>*Las contraseñas no son iguales</p>
            </ion-item>
            <br>
            <ion-item class="inputcolor">
                <ion-label color="blue">Acepto los términos.</ion-label>
                <ion-checkbox color="dark" formControlName="condiciones" required></ion-checkbox>
            </ion-item>
            <ion-item class="opacity" *ngIf="myForm.get('condiciones').errors && myForm.get('condiciones').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('condiciones').hasError('required')">*Aceptación requerida</p>
            </ion-item>
        </ion-list>
        <p align="center">
            <button class="boton_personalizado1" color=yellow ion-button (click)="irTerminos()  " round>Ver términos y condiciones</button>
        </p>
        <button class="boton_personalizado " color=yellow ion-button block (click)="uploadingFoto() " (click)="validarCi() " [disabled]="myForm.invalid " round>REGISTRAR</button>
    </form>
</ion-content>
<!--
    <button ion-button block (click)="registrar() " (click)="uploadingFoto() " [disabled]="myForm.invalid " round>Registrar</button>

    <ion-item class="inputcolor " style="margin-top:0.5em ">
    <ion-label stacked color="dark ">Correo</ion-label>
    <ion-input type="email " formControlName="correo "></ion-input>
</ion-item>
-->