<!--
  Generated template for the ReservaPasajeroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="navbar_personalizado" color="yellow">
        <ion-title>
            RESERVA DE VIAJE
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="imagen">

    <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
    <!--fab-->
    <ion-fab bottom right>
        <button ion-fab (click)="irProgramadas()" color="yellow"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-fab bottom left>
        <button ion-fab color="yellow" (click)="func()"><ion-icon name="refresh"></ion-icon></button>
    </ion-fab>
    <ion-item style="background-color:#7cb9e3;color:white;" *ngIf="boleano">
        Usted no tiene Reservas.
    </ion-item>

    <ion-fab top right>
        <button color="yellow" ion-fab (click)="slidePrincipal3()"><ion-icon ></ion-icon>Ayuda </button>

    </ion-fab>
    <ion-list>
        <button class="lista_personalizado1" ion-item *ngFor="let item of solicitudes" (click)="irOpcionreserva(item)">
      <!--NEGRILLA-->
            <b>
            Conductor: {{item.nombre+" "+item.apellido}}
      <br>
      Estado: {{item.estado}}
      <br>
      Fecha - Hora: {{item.fecha}}</b>
    </button>
    </ion-list>
</ion-content>