<!--
  Generated template for the AgregarVehiculosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="yellow">
        <ion-title>Agregar Vehiculos</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="imagen">
    <form [formGroup]="myForm">

        <div padding>
            <button color=yellow ion-button block (click)="openCamera()" round>TOMAR FOTOGRAFÍA</button>
            <button color=yellow ion-button block (click)="openGallery()" round>SELECCIONAR FOTOGRAFÍA</button>
        </div>
        <div>
            <img [src]="base64Image" *ngIf="base64Image" class="foto_personalizado"/>
        </div>
        <ion-item class="inputcolor" style="margin-top:1em">
            <ion-label stacked color="dark">Capacidad</ion-label>
            <ion-input type="number" formControlName="capacidad"  name="capacidad" ></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('capacidad').errors && myForm.get('capacidad').dirty">
            <p color="danger" ion-text *ngIf="myForm.get('capacidad').hasError('required')">*Campo requerido</p>
            <p color="danger" ion-text *ngIf="myForm.controls['capacidad'].hasError('maxlength')">*Un vehiculo no puede tener más de 9 espacios</p>
        </ion-item>
        <ion-item class="inputcolor" style="margin-top:0.5em">
            <ion-label stacked color="dark">Color</ion-label>
            <ion-input type="text" formControlName="color" name="color"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('color').errors && myForm.get('color').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('color').hasError('required')">*Campo requerido</p>
        </ion-item>
        <ion-item class="inputcolor" style="margin-top:0.5em">
            <ion-label stacked color="dark">Marca</ion-label>
            <ion-input type="text" formControlName="marca" name="marca"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('marca').errors && myForm.get('marca').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('marca').hasError('required')">*Campo requerido</p>
        </ion-item>

        <ion-item class="inputcolor" style="margin-top: 0.5em">
                <ion-label stacked color="dark">Modelo(año)</ion-label>
                <ion-input type="number" formControlName="modelo"  name="modelo" ></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('modelo').errors && myForm.get('modelo').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('modelo').hasError('required')">*Campo requerido</p>
                <p color="danger" ion-text *ngIf="myForm.controls['modelo'].hasError('maxlength') || myForm.controls['modelo'].hasError('minlenght')">*Un modelo de un vehiculo debe poseer 4 digitos(AAAA)</p>
        </ion-item>
            <ion-row radio-group formControlName= "placa">
                <ion-col col-6>

                        <ion-item class="inputcolor" style="margin-top: 0.5em">
                                <ion-label stacked color="dark">Placa Numero </ion-label>
                                <ion-input type="number" formControlName="placanum"  name="placanum" placeholder="1234"></ion-input>
                        </ion-item >

                </ion-col>
                <ion-col col-6>
                        <ion-item class="inputcolor" style="margin-top: 0.5em">
                                <ion-label stacked color="dark">Placa Letras </ion-label>
                                <ion-input type="text" formControlName="placalet"  name="placalet" placeholder="ABC"></ion-input>
                        </ion-item >

                </ion-col>
              </ion-row>
              <ion-item *ngIf="myForm.get('placalet').errors && myForm.get('placalet').dirty">
                      <p color="danger" ion-text *ngIf="myForm.get('placalet').hasError('required')">*Campo requerido placa letra</p>
              </ion-item>
              <ion-item *ngIf="myForm.get('placanum').errors && myForm.get('placanum').dirty">
                      <p color="danger" ion-text *ngIf="myForm.get('placanum').hasError('required')">*Campo requerido placa numero</p>
              </ion-item>

        <ion-item class="inputcolor" style="margin-top: 0.5em">
            <ion-label>Maletera</ion-label>
            <ion-checkbox color="primary" formControlName="maletera"></ion-checkbox>
        </ion-item>
        <div padding>
            <button ion-button block (click)="agregar()" (click)="uploadingFoto()" [disabled]="!myForm.valid" round>Agregar<ion-icon name="car" style="margin-left:10px;"></ion-icon></button>
        </div>

    </form>
</ion-content>
