<!--
  Generated template for the OpcionesConductorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="navbar_personalizado" color="yellow">
        <ion-title>Opciones </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="imagen">
    <div class="list">
      <button class="boton_personalizado" ion-button color="yellow" round block (click)="irPerfil()">
        <ion-icon item-left name="person" style="margin-right:10px;"></ion-icon>
        PERFIL
      </button>
      <button class="boton_personalizado" ion-button color="yellow" round block (click)="irMisRutas()">
        <ion-icon item-left name="navigate" style="margin-right:10px;"></ion-icon>
        MIS RUTAS 
      </button>
      <button class="boton_personalizado" ion-button color="yellow" round block (click)="cambiarUsuario()">
        <ion-icon item-left name="body" style="margin-right:10px;"></ion-icon>
        CAMBIAR ROL DE USUARIO
      </button>
      <button class="boton_borrar_personalizado" ion-button color="yellow" round block (click)="CerrarSesion()">
        <ion-icon item-left name="log-out" style="margin-right:10px;"></ion-icon>
        CERRAR SESIÓN
      </button>
    <br>
    <button class="boton_borrar_personalizado" ion-button color="yellow" round block (click)="ReportarProblema()">
  <ion-icon item-left name="construct" style="margin-right:10px;"></ion-icon>
  REPORTAR PROBLEMA
</button>
    </div>
</ion-content>