<!--
  Generated template for the MisRutasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="navbar_personalizado" color="yellow">
        <ion-title>Mis Rutas</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Cancel</span>
            <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding class="imagen">
    <ion-item style="background-color:#7cb9e3;color:white;" *ngIf="boleano">
        Usted no tiene Rutas.
    </ion-item>
<!-- no entiendo que hace esto yo lo comente  
    <ion-list>
        <ion-item-sliding #item>

            <ion-item *ngFor="let vecs of vec">
                {{vecs.nombre}}
            </ion-item>
            <ion-item-options side="right">
                <button ion-button (click)="unread(item)">Eliminar</button>
            </ion-item-options>
            <ion-item-options side="left">
                <button ion-button (click)="unread(item)">Ver Ruta</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>-->
</ion-content>

<ion-content padding class="imagen">
    <ion-list>
        <ion-item #item *ngFor="let vecs of vec" (click)="borrarRuta(vecs.nombre,vecs.id_ruta)">
            
                <p>{{ vecs.nombre }}</p>
        </ion-item>
    </ion-list>
    <ion-fab bottom right>
        <button ion-fab color="yellow" (click)="seleccinaRuta()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-fab bottom left>
        <button ion-fab color="yellow" (click)="func()"><ion-icon name="refresh"></ion-icon></button>
    </ion-fab>
</ion-content>